html,
body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.2;
}

body {
  max-width: 1100px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Philosopher', sans-serif;
  margin: 0;
}

p, a {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  color: #3D3D3D;
}

/* a {
  text-decoration: none;
} */

/* a:hover {
  color: #84858e;
} */

.container {
  background-color: #EFD3D7;
  /* height: 100%; */
}

/* banner */

.banner {
  background-color: #EFD3D7;
}

.main-image {
  width: 100%;
  height: 0;
  padding-top: 66%;
  background-image: url(/img/main_small_dark.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.logo {
  width: 140px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

.phone-number {
  text-align: right;
  margin-top: 5px;
  font-size: 17px;

}

/* .phone-number p {
  color: white;
} */

.welcome-text {
  width: 50%;
  margin-top: 30px;
}

.welcome-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.welcome-text p {
  font-size: 22px;
  color: white;
  font-weight: 600;
}

.mobile {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  color: white;
}

li :last-child {
  padding-right: 0;
}

.header-buttons {
  padding-top: 280px;
  padding-right: 50px;
  text-align: right;
}

.button-grey {
  width: 180px;
  text-align: center;
  padding: 12px 0px;
  border-radius: 4px;
  border: none;
  background-color: #8E9AAF;
  color: #FEEAFA;
  text-decoration: none;
  display: inline-block;
  font-family: 'Philosopher', sans-serif;
  font-size: 15px;
}

.button-grey:hover {
  background-color: #DEE2FF;
  color: #8E9AAF;
  font-weight: 500;
}

.button-pink {
  width: 180px;
  text-align: center;
  padding: 12px 0px;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
  background-color: #FEEAFA;
  color: #8E9AAF;
  text-decoration: none;
  display: inline-block;
  font-family: 'Philosopher', sans-serif;
  font-size: 15px;
}

.button-pink:hover {
  background-color: #DEE2FF;
  color: #FEEAFA;
}


/* Contacts */

.contacts {
  padding: 40px 40px;
  text-align: center;
  /* font-size: 20px; */
}

.contacts,
.cards h1,
h2 {
  color: #8E9AAF;
}

.address {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 8px;
}

.addr-item1 {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.addr-item2 {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.addr-place {
  margin-bottom: 8px;
}

.icon-text {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.icon-text-last {
  margin-bottom: 0px;
}

.addr-icon {
  color: #8E9AAF;
  font-size: 24px;
  width: 25px;
  text-align: center;
}

.home-icon {
  font-size: 29px;
}

.address a {
  color: #3D3D3D;
}

.address a:hover {
  color: #84858e;
}

/* quote */

.quote {
  padding: 80px 150px;
  background-color: rgba(255, 255, 255, 0.674);
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

/* Cards */

.cards {
  padding: 40px 40px;
  text-align: center;
}

.card-row {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.674);
  border-radius: 4px;
  width: 33.33%;
}

.card-img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.card-text {
  padding: 20px;
}

.card-text h2 {
  margin-bottom: 20px;
}

.card-text p {
  text-align: left;
  margin-bottom: 16px;
}

.card-link {
  color: #aaaaaa;
}

.card-button {
  margin-top: 30px;
}

/* footer */

.footer-logo {
  width: 140px;
}

.footer {
  padding: 40px 40px;
  background-color: #CBC0D3;
  text-align: center;
}

.footer ul {
  justify-content: center;
  margin-top: 20px;
}

.emr {
  margin-top: 20px;
  width: 180px;
}

.copyright {
  margin-top: 120px;
  font-size: 13px;
}



/* media queries */

@media (max-width: 1000px) {
  .banner h1 {
    font-size: larger;
  }

  .welcome-text h1 {
    font-size: 40px;
  }

  .welcome-text p {
    font-size: 15px;
  }

  .header-buttons {
    padding-top: 100px;
  }
}


@media (max-width: 600px) {
  .banner-content {
    padding: 20px 20px;
  }

  .banner-content .header-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger {
    font-size: 30px;
    font-weight: 100;
  }

  .sidepanel  {
    width: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #CBC0D3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 13px;
    right: 27px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: transparent;
  }
  
  .logo {
    width: 90px;
    margin-bottom: 8px;
  }

  .phone-number {
    margin-top: 0px;
    font-size: 15px;
  }

  .welcome-text {
    width: 75%;
    margin-top: 0px;
  }

  .welcome-text h1 {
    font-size: 34px;
    margin-bottom: 0px;
  }

  .welcome-text .desktop {
    display: none;
  }

  .mobile {
    display: block;
    font-size: 0px;
  }

  .welcome-text p {
    font-size: 20px;
  }

  .header-buttons {
    padding-top: 20px;
    padding-right: 0;
    text-align: right;
  }

  .button-grey {
    width: 160px;
    font-size: 16px;
    padding: 8px 0;
    display: block;
    margin-left: auto;
    margin-bottom: 8px;
  }

  .button-pink {
    width: 160px;
    font-size: 16px;
    padding: 8px 0;
    margin-left: 5px;
    display: block;
    margin-left: auto;
  }

  .contacts {
    font-size: 12px;
    padding: 20px 10px;
  }

  .contacts h1 {
    font-size: 26px;
  }

  .addr-item1 {
    padding-left: 0px;
    padding-right: 3px;
  }

  .addr-item2 {
    padding-left: 3px;
    padding-right: 0px;
  }

  .icon-text {
    gap: 6px;
  }

  .addr-icon {
    font-size: 13px;
    width: 14px;
  }

  .home-icon {
    font-size: 17px;
  }

  .quote {
    padding: 20px 20px;
    font-size: 18px;
  }

  .cards {
    padding: 20px 20px;
  }

  .card-row {
    display: block;
    margin-top: 0;
  }

  .cards h1 {
    font-size: 26px;
  }

  .card-text h2 {
    font-size: 22px;
  }

  .card-text p{
    font-size: 18px;
  }

  .card {
    margin-top: 20px;
    width: 100%;
  }

  .card .button-grey {
    margin: 0 auto;
  }

  .footer {
    padding: 20px 20px;
  }

  .footer-logo {
    width: 90px;
  }

  .emr {
    margin-top: 20px;
    width: 150px;
  }

  .footer li a {
    font-size: 16px;
    padding: 6px;
  }

  .copyright {
    margin-top: 50px;
    font-size: 11px;
  }
  
}